.buttom__confirmation {
  background-color: $liteblue;
  color: $white;
  font-size: 21px;
  text-align: center;
  border: none;
  width: 180px;
  height: 58px;

}

.buttom__send {
   width: 280px;
  height: 58px;
}

.text__textaresa {
  width: 279px;
  height: 160px;
  font-size: 18px;
}
