.item-sedona__wrapper {
  background-color: $liteblue;
  color: $white;
}
.item-sedona__wrapper-end {
  background-color: $litegrey;
}

.sity-list {
  list-style: none;
}

.a__link {
  text-decoration: none;
  color: $darck;
}

.button__search {
  width: 280px;
  height: 58px;
  background-color: $liteblue;
  border: none;
}
.a__button {
  color: $white;
  font-size: 21px;
}
