.page{
  font-family: 'PT Sans', sans-serif;
  text-transform:uppercase;
  text-align: center;
  line-height: 26px;
}

.heading {
    font-size: 21px;

}

.subtitle {
  font-weight: normal;
  font-size: 18px;
}
