// Colors
$darck:#000000;
$white:#FFFFFF;
$liteblue:#81B3D2;
$brown:#766357;
$darckbrown:#604E43;
$blue:#669EC0;
$darckblue:#5496BD;
$litegrey:#F2F2F2;
$grey:#E5E5E5;
$darckgrey:#D5D5D5;
$bluegrey:#5C6870;
$blackdarck:#333333;
